{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block content %}
<form method="post">
    {% csrf_token %}
    
    <p><strong>{{ description }}</strong></p>
    <p>Bu topiklarning barcha yuborilgan testlariga necha ball qo'shmoqchisiz?</p>
    
    <fieldset class="module aligned">
        {{ form.as_p }}
    </fieldset>
    
    <input type="hidden" name="action" value="add_points_to_topic_tests" />
    
    {% for obj in queryset %}
        <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}" />
    {% endfor %}
    
    <div class="submit-row">
        <input type="submit" name="apply" value="Ball qo'shish" class="default" />
        <a href="{{ request.get_full_path }}" class="button cancel-link">Bekor qilish</a>
    </div>
</form>
{% endblock %}
